--extra-index-url https://download.pytorch.org/whl/cpu

torch
langchain
langchain-community
langchain-huggingface
langchain-chroma
langchain-groq
python-dotenv
docx2txt
pymupdf
fastapi
uvicorn
python-multipart
sentence-transformers
openpyxl
psycopg2-binary